<form [formGroup]="myForm" (ngSubmit)="addBook(myForm)">
  <div class="form-group">
    <label for="bookName">Book Name</label>
    <input
      type="text"
      class="form-control"
      id="bookName"
      formControlName="bookName"
      placeholder="Enter Book Name"
    />
  </div>
  <div class="form-group">
    <label for="authorName">Author Name</label>
    <input
      type="text"
      class="form-control"
      id="authorName"
      formControlName="authorName"
      placeholder="Enter Author Name"
    />
  </div>
  <div class="form-group">
    <label for="price">Price: </label>
    <input
      type="text"
      class="form-control"
      id="price"
      formControlName="price"
      placeholder="Enter Price"
    />
  </div>
  <div class="form-group">
    <label for="premiumPrice">Premium Price: </label>
    <input
      type="text"
      class="form-control"
      id="premiumPrice"
      formControlName="premiumPrice"
      placeholder="Enter Premium Price"
    />
  </div>
  <div class="mt-2 mb-2">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>

<table *ngIf="books.length !== 0" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Book Name</th>
      <th scope="col">Author Name</th>
      <th scope="col">Price</th>
      <th scope="col">Premium Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <th scope="row">{{ book.bookName }}</th>
      <td>{{ book.authorName }}</td>
      <td>{{ book.price.non_sub_user }}</td>
      <td>{{ book.price.sub_user }}</td>
      <td><button class="btn" (click)="removeBook(book)">Remove</button></td>
    </tr>
  </tbody>
</table>
<div *ngIf="books.length !== 0" class="mt-2 mb-2">
  <button class="btn btn-primary" (click)="addBooks()">Submit</button>
</div>
